/* General */
@media (max-width:760px)
{
    .carousel-heading-main{
        padding-left: 75px;
    }
    .footer-text{
        margin-top: 20px;
    }
}

/* Cards */
#cards{
    color: #c8c8c8;
    margin-bottom: 200px;
    font-family: 'Roboto-Thin';
    padding: 10px 20px;
}

.cards-main{
    margin-bottom: 150px;
}

.small-text{
    padding-left: 200px;
}

.cards-text{
    color: #2a2a2a;
    padding-left: 35px;
}

.card-title{
    color: #7e7e7e;
}

.card-text{
    color: #b6b6b6;
}

/* Carousel */

.text{
    padding-bottom: 50px;
}

.testimonal-heading h5{
    margin-left: 25%;
}

.testimonal-heading{
    color: #dadada;
}

.carousel-heading{
    color: #313131;
}

#demo{
    background-color: #f3f3fb;
     height: 350px;
     border-top-left-radius:40px;
     border-top-right-radius:40px; 
}

.carousel-indicators .active{
    background-color: #000;
}

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: grey;
}

.quote{
    color:#fff;
    padding-top: 20px;
    padding-left: 20px;
}

.blockquotep{
    padding-top:20px;
    text-align: center;
    color: #949396;
    margin: auto;
    max-width:600px;
    padding-bottom: 20px;
}

.caption{
    font-size:15px;
}

.caption-sub{
    padding-top:20px;
    font-size:10px;
}

.woman{
    height:10%;
    width: 10%;
}
/* Footer */

#footer{
    background-color:#3d4e60;
    background-image: url('assets/images/Footer-BG.png') no-repeat;
    padding: 100px;
    color: #cdcfd1;
}

.footer-name{
    color: #fff;
}

.social-links{
    padding: 20px 10px;
}

.social-icon {
     width: 20px;
      height: 20px; 
      margin: 0 25px 5px 0; 
    }
.social-icon:last-child {
     margin-right: 0; 
    }

input[type=text] {
    width: 80%;
    background-color: #3d4e60;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #fff;
  }

.btn-color{
    background-color:#635dff;
    border-radius: 20px;
    margin-top: 30px;
}